extends ../../layouts/default.pug
include ../../partials/update.pug

block main
    .userSingle
        .single
            .view
                .info
                    .topInfo
                        img(src=`/uploads/users/${user.avatar}`, alt="Avatar")
                        h1 #{user.first_name + ' ' + user.last_name}
                        button(onclick="handleOpenUpdateBtn(true)") Update
                    .details
                        .item
                            span.itemTitle Fullname:
                            span.itemValue #{user.first_name + ' ' + user.last_name}
                        .item
                            span.itemTitle DoB:
                            span.itemValue #{user.date_of_birth}
                        .item
                            span.itemTitle Gender:
                            span.itemValue #{user.gender}
                        .item
                            span.itemTitle Email:
                            span.itemValue #{user.email}
                        .item
                            span.itemTitle Phone:
                            span.itemValue #{user.phone}
                hr
            .activities
                h2 Latest Activities
                    ul 
                        each book in newBooks
                            li
                                div 
                                    p= book.last_name + ' has booked ' + book.number + ' ticket for the movie ' + book.movie_title
                                    time= book.booking_date
                        
                            
    +Update(userColumns, user, slug)        

    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    script.
        const detailUser = document.getElementById('detailUser');


        let openUpdateButton = false;

        let slug = !{JSON.stringify(slug)};
        let user = !{JSON.stringify(user)};
        const handleOpenUpdateBtn = (value) => {
                openAddButton = value;
                if (value) {
                    document.querySelector('.update').style.display = 'flex';
                } else {
                    document.querySelector('.update').style.display = 'none';
                }
            };
        
        