extends ../../layouts/default.pug
include ../../partials/chartBox.pug
include ../../partials/barChartBox.pug
include ../../partials/pieChartBox.pug
include ../../partials/bigChartBox.pug
block main
    .home
        .box.box1
            .topBox
                h1 Top Movies
                .list
                    each user in topMovies
                        .listItem(key=user.movie_id)
                            .user
                                img(src=user.movie_image, alt="")
                                .userTexts
                                    span.username=user.movie_title
                                    span.email=user.director
                            span.amount= user.average_rating + "★"

        .box.box2 
            +ChartBox(chartBoxUser)
        .box.box3
            +ChartBox(chartBoxProduct)
        .box.box4
            +PieChartBox(pieChartBox)
        .box.box5
            +ChartBox(chartBoxConversion)
        .box.box6
            +ChartBox(chartBoxRevenue)
        .box.box7
            +BigChartBox(bigChartBox)
        .box.box8
            +BarChartBox(barChartBoxVisit)
        .box.box9
            +BarChartBox(barChartBoxRevenue)

