header.header
    .container-fluid(class="login-register")
        .col-12
            .inner-menu
                ul  
                    if(userName  && id)
                        li
                            a(href=`/user/profile/${id}` style="color:#fff") Xin chào #{userName}
                        li 
                            a(href="user/logout") Đăng xuất
                    else
                        li
                            a(href="/user/register") Đăng ký
                        li
                            a(href="/user/login") Đăng nhập

    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.png", alt="Logo") 
            .col-4
                .form-search
                    form(
                        action="/search"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0 inner-form-search")
                            img(src="/images/IconSearch.png", alt="icon-search") 
                            input(
                                type="text"
                                placeholder="Nhập từ khóa"
                                name="keyword"
                                style="background: #F7F7F7;"
                                value=keyword
                            )
                            button(
                                type="submit"
                            ) Tìm kiếm
            .col-5
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            a(href="/movies") All movie
                            ul
                                li
                                    a(href="/movies") Thể loại
                                    ul  
                                        if(genres)
                                            each item in genres
                                                li
                                                    a(href=`/movies/?genre=${item.genre}`) #{item.genre}
                                li
                                    a(href="#") Ngôn ngữ
                                    ul  
                                        if(movie_languages)
                                            each item in movie_languages
                                                li
                                                    a(href=`/movies/?language=${item.movie_language}`) #{item.movie_language}   
                        li
                            a(href="/about") About Us
                        li
                            a(href="/feedback") Feedback
