extends ../../layouts/default.pug
include ../../mixin/alert.pug
block main
    +alert-error(5000)
    .seat-booking(style='margin-top:30px')
        .seat_heading
            h3
                center BOOK YOUR SEAT NOW
        .check-available-seat
            form(method='post')
                input(type='hidden' name='t1' value='')
                center
                    input.btn.btn-primary(type='submit' name='submit' value='Check Avaliable Seat')
    .seat
        form(action=`/booking/payment` method='post')
            .container
                .row
                    .col-lg-7(style='border-right: 1px solid #ddd;')
                        .seatCharts-container
                        .front SCREEN
                        center
                            p#notvalid(style='color: red; font-size: 20px;')
                        .seat_type
                            if(price) 
                                p Giá : #{price[0]}
                        #validated
                        .row
                            .col-lg-7.col-md-7.col-sm-5
                                table
                                    tbody
                                        tr
                                        td.line-booking(style='width: 10%;') A
                                        if(data)
                                            each item in data[0]
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                        tr
                                            td.line-booking(style='width: 10%;') B
                                            if(data)
                                                each item in data[2]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                       
                            .col-lg-5.col-md-5.col-sm-7
                                    #silver.seattable
                                        table
                                            tbody
                                                tr
                                                    td.line-booking(style='width: 10%;color:white;')
                                                    if(data)
                                                        each item in data[1]
                                                            td
                                                                input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                                tr
                                                    td.line-booking(style='width: 10%;color:white;') 
                                                    if(data)
                                                        each item in data[3]
                                                            td
                                                                input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                                
                        .seat_type
                              if(price) 
                                p Giá : #{price[1]}
                        .row
                            .col-lg-7.col-md-7.col-sm-5
                                table
                                    tbody
                                        tr
                                            td.line-booking(style='width: 10%;') C
                                            if(data)
                                                each item in data[4]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                        tr
                                            td.line-booking(style='width: 10%;') D
                                            if(data)
                                                each item in data[6]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value=item.seat_id) 
                                        tr
                                            td.line-booking(style='width: 10%;') E
                                            if(data)
                                                each item in data[8]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]'  value=item.seat_id)
                                          
                                        tr
                                            td.line-booking(style='width: 10%;') F
                                            if(data)
                                                each item in data[10]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                            
                                        tr
                                            td.line-booking(style='width: 10%;') G
                                            if(data)
                                                each item in data[12]
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                            .col-lg-5.col-md-5.col-sm-7
                                #gold.seattable
                                    table
                                        tbody
                                            tr
                                                td.line-booking(style='width: 10%;')
                                                if(data)
                                                    each item in data[5]
                                                        td
                                                            input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                            tr
                                                td.line-booking(style='width: 10%;color:white;') 
                                                if(data)
                                                    each item in data[7]
                                                        td
                                                            input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                           
                                            tr
                                                td.line-booking(style='width: 10%;color:white;')
                                                if(data)
                                                    each item in data[9]
                                                        td
                                                            input.larger(type='checkbox' name='seat[]'  value=item.seat_id)               
                                            tr
                                                td.line-booking(style='width: 10%;color:white;') 
                                                if(data)
                                                    each item in data[11]
                                                        td
                                                            input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                                            tr
                                                td.line-booking(style='width: 10%;color:white;') 
                                                if(data)
                                                    each item in data[13]
                                                        td
                                                            input.larger(type='checkbox' name='seat[]' value=item.seat_id)
                    .col-lg-5
                        table
                            tbody
                                tr  
                                    if(movie)
                                        td(width='50%')
                                            font(size='5px' ) Movie:
                                        td
                                            center
                                                font(size='5px') #{movie.movie_title}
                                tr 
                                    if(movie.show_time)
                                        td(width='50%')
                                            font(size='5px') Time:
                                        td
                                            center
                                                font(size='5px') #{movie.show_time}
                                        
                                tr
                                    td(width='50%')
                                        font(size='5px') Seat:
                                    td
                                        input#selectedtext(type='text' name='seats' placeholder='')
                                tr
                                    td(width='50%')
                                        font(size='5px') Total Seat:
                                    td
                                        input#count(type='text' name='totalseat' placeholder='')
                            if(results.showtime_id)
                                input(type='hidden' name='showtime_id' value=results.showtime_id)
                            if(results.employee_id)
                                input(type='hidden' name='employee_id' value=results.employee_id)
                            if(results.movie_id)
                                input(type='hidden' name='movie_id' value=results.movie_id)
                            if(results.theater_id)
                                input(type='hidden' name='theater_id' value=results.theater_id)
                            if(results.show_date)
                                input(type='hidden' name='show_date' value=results.show_date)
                            if(results.movie_name)
                                input(type='hidden' name='movie_name' value=results.movie_name)
                        .col-lg-12
                            .form-group(style='margin-top: 60%')
                                input.form-control.btn.btn-primary.py-2(type='submit' value='Payment Now' name='submit')
                            #count1
