extends ../../layouts/default.pug
block main
    .seat-booking(style='margin-top:30px')
        .seat_heading
            h3
                center BOOK YOUR SEAT NOW
        .check-available-seat
            form(method='post')
                input(type='hidden' name='t1' value='')
                center
                    input.btn.btn-primary(type='submit' name='submit' value='Check Avaliable Seat')
    .seat
        form(action=`/booking/payment/${id}` method='post')
            .container
                .row
                    .col-lg-7(style='border-right: 1px solid #ddd;')
                        .seatCharts-container
                        .front SCREEN
                        center
                            p#notvalid(style='color: red; font-size: 20px;')
                        .seat_type
                            if(price) 
                                p Giá : #{price[0]}
                        #validated
                        .row
                            .col-lg-7.col-md-7.col-sm-5
                                table
                                    tbody
                                        tr
                                            td.line(style='width: 10%;') A
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='A1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='A2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='A3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='A4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='A5')
                                        tr
                                            td.line(style='width: 10%;') B
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='B1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='B2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='B3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='B4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='B5')
                                       
                            .col-lg-5.col-md-5.col-sm-7
                                    #silver.seattable
                                        table
                                            tbody
                                                tr
                                                    td.line(style='width: 10%;color:white;') A
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='A6')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='A7')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='A8')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='A9')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='A10')
                                                tr
                                                    td.line(style='width: 10%;color:white;') B
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='B6')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='B7')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='B8')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='B9')
                                                    td
                                                        input.larger(type='checkbox' name='seat[]' value='B10')
                        .seat_type
                              if(price) 
                                p Giá : #{price[1]}
                        .row
                            .col-lg-7.col-md-7.col-sm-5
                                table
                                    tbody
                                        tr
                                            td.line(style='width: 10%;') C
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='C1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='C2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='C3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='C4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='C5')
                                        tr
                                            td.line(style='width: 10%;') D
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='D1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='D2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='D3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='D4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='D5')
                                        tr
                                            td.line(style='width: 10%;') E
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='E1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='E2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='E3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='E4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='E5')
                                          
                                        tr
                                            td.line(style='width: 10%;') F
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='F1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='F2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='F3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='F4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='F5')
                                            
                                        tr
                                            td.line(style='width: 10%;') G
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='G1')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='G2')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='G3')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='G4')
                                            td
                                                input.larger(type='checkbox' name='seat[]' value='G5')
                            .col-lg-5.col-md-5.col-sm-7
                                #gold.seattable
                                    table
                                        tbody
                                            tr
                                                td.line(style='width: 10%;')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='C6')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='C7')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='C8')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='C9')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='C10')
                                            tr
                                                td.line(style='width: 10%;color:white;') D
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='D6')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='D7')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='D8')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='D9')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='D10')
                                           
                                            tr
                                                td.line(style='width: 10%;color:white;')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='E6')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='E7')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='E8')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='E9')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='E10')               
                                            tr
                                                td.line(style='width: 10%;color:white;') F
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='F6')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='F7')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='F8')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='F9')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='F10')
                                            tr
                                                td.line(style='width: 10%;color:white;') G
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='G6')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='G7')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='G8')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='G9')
                                                td
                                                    input.larger(type='checkbox' name='seat[]' value='G10')
                    .col-lg-5
                        table
                            tbody
                                tr  
                                    if(movie)
                                        td(width='50%')
                                            font(size='5px' ) Movie:
                                        td
                                            center
                                                font(size='5px') #{movie.movie_title}
                                tr 
                                    if(movie.show_time)
                                        td(width='50%')
                                            font(size='5px') Time:
                                        td
                                            center
                                                font(size='5px') #{movie.show_time}
                                        
                                tr
                                    td(width='50%')
                                        font(size='5px') Seat:
                                    td
                                        input#selectedtext(type='text' name='seats' placeholder='')
                                tr
                                    td(width='50%')
                                        font(size='5px') Total Seat:
                                    td
                                        input#count(type='text' name='totalseat' placeholder='')
                            if(movie.movie_title)
                                input(type='hidden' name='movie' value=`${movie.movie_title}`)
                            if(movie.show_time)
                                input(type='hidden' name='show' value=`${movie.show_time}`)
                            if(movie.show_date)
                                input(type='hidden' name='day' value=`${movie.show_date}`)
                        .col-lg-12
                            .form-group(style='margin-top: 60%')
                                input.form-control.btn.btn-primary.py-2(type='submit' value='Payment Now' name='submit')
                            #count1
