extends ../../layouts/default.pug
include ../../mixin/alert.pug
block main
    .container.py-5
        .row.mb-4
            .col-lg-8.mx-auto.text-center
                h1.display-6 BOOKING SUMMARY
        .row
        .col-lg-6.mx-auto
            form(action="/booking/ticketShow" method="POST")
                .card
                    .card-header
                        .tab-content(style='font-size:15px')
                            .row
                                .col-lg-6
                                    div
                                        if(user.last_name)
                                            span Tên: #{user.last_name}
                                    div 
                                        if(user.phone)
                                            span  SĐT: #{user.phone}
                                    div 
                                        if(movie)
                                        span  Phim: #{movie}
                                    div
                                        if(seat_name)
                                            span Ghế:#{seat_name} 
                                    div 
                                        if(dayPayment)
                                            span Ngày thanh toán: #{dayPayment} 
                                .col-lg-6
                                    div 
                                        if(user.email)
                                            span Email: #{user.email} 
                                    div 
                                        if(user.address)
                                            span Địa chỉ : #{user.address}
                                    div 
                                        if(theater_name)
                                            span Rạp chiếu: #{theater_name}
                                    div 
                                        if(show_time)
                                            span  Thời gian chiếu: #{show_time}
                                    div 
                                        if(dayPayment)
                                            span Ngày đặt: #{dayPayment}
                                input(name='showtime_id' type='hidden' value=ans.showtime_id)
                                input#time(name='show_time' type='hidden' value=ans.show_time)
                                input#price(name='price' type='hidden' value=ans.price)
                                input#showdate(name='show_date' type='hidden' value=ans.show_date)
                                input#dayPayment(name='dayPayment' type='hidden' value=dayPayment)
                                input#theater_name(name='theater_name' type='hidden' value=theater_name)
                                input#seat_name(name='seat_name' type='hidden' value=seat_name)
                                input#totalseats(name='totalseat' type='hidden' value=ans.totalseat)
                                input#employee_id(name='employee_id' type='hidden' value=ans.employee_id)
                                input#seat_id(name='seat_id' type='hidden' value=ans.seat_id)
                                input#seat_price_id(name='seat_price_id' type='hidden' value=ans.seat_price_id)
                                input#theater_id(name='theater_id' type='hidden' value=ans.theater_id)
                                input#movie_name(name='movie_name' type='hidden' value=ans.movie_name)
                                input#movie_id(name='movie_id' type='hidden' value=ans.movie_id)
                            #credit-card.tab-pane.fade.show.active.pt-3
                            .form-group
                                label(for='username')
                                    h6 Tên chủ thẻ
                                input#card_name.form-control(type='text' name='card_name' placeholder='Tên chủ thẻ')
                                #validatecardname
                            .form-group
                                label(for='cardNumber')
                                    h6 Số thẻ
                                .input-group
                                    input#card_number.form-control(type='text' name='card_number' placeholder='Số thẻ')
                                #validatecardnumber
                            .row
                                .col-sm-8
                                    .form-group
                                        label
                                            span.hidden-xs
                                                h6 Ngân hàng
                                        .input-group
                                            input#Bank_name.form-control(type='text' placeholder='Ngân hàng' name='BanK_name')
                                        #validateeBankName
                                .col-sm-4
                                    .form-group.mb-4
                                        label(data-toggle='tooltip' title='Three digit CV code on the back of your card')
                                            h6 Mã xác nhận
                                        input#cvv.form-control(type='number')
                                #validatecvv
                            .col-lg-6
                                .seatCharts-container-payment
                                    .front
                                        if(price)
                                            font(text-align='left') &nbsp;&nbsp;&nbsp;Tổng tiền: 
                                            font(text-align='right') #{price} VND 
                            #msg
                            .card-footer
                                input.form-control.btn.btn-primary.btn-block.shadow-sm(type='submit',value='Xác nhận thanh toán',name='submit')
                                
