extends ../../layouts/default.pug
include ../../mixin/pagination.pug
block main
    - if (messages.success)
        .message.info
            div(
                class="alert alert-success"
                data-time="5000"
                show-alert
            ) #{messages.success}
    div(class="home")
        .container
            img(src="/images/theatre_2.jpg",class="inner-image")
        .container
            div(class="row")
                div(class="col-xl-12")
                    div(class="running_movies-title")
                            h2(class="inner-title") Running Movies
                each item in movies
                    if(item.status_name =="coming")
                        div(class="col-lg-3 col-md-3 col-sm-6 movie")
                            div(class="running_movies")
                                img(src=item.movie_image class="inner-movie")
                            div(class="movie-name")
                                h2(class="inner-content") #{item.movie_title}
                            div(class="movie-info")
                                div(class="inner-name")
                                    span(class="inner-title") Thể loại:
                                    span(class="inner-content") #{item.genre}
                                div(class="inner-name")
                                    span(class="inner-title") Thời lượng:
                                    span(class="inner-content") #{item. movie_duration}
                                div(class="inner-name")
                                    span(class="inner-title") Khởi chiếu:
                                    span(class="inner-content") #{item.release_date}
                            div(class="inner-button")
                                a.btn.btn-primary(href=`/movies/${item.movie_id}`) Book Now

        .container
            .row
                div(class="col-xl-12")
                    div(class="running_movies-title")
                            h2(class="inner-title")  Upcomming movies
                each item in movies
                    if(item.status_name=="upcoming")
                        .image-box
                            .col-lg-2.col-md-3.col-sm-6
                                .card(style="width: 12rem;")
                                    img(src=item.movie_image, class="inner-image")
                                    .card-body
                                        div(class="movie-name")
                                            h2(class="inner-content") #{item.movie_title}
                                        div(class="movie-desc")
                                            span(class="inner-title") Đạo diễn:
                                            span(class="inner-content") #{item.director}
        .container
            .div-pagination                           
                +pagination(pagination)

