extends ../../layouts/default.pug
include ../../partials/update.pug


block main
    .movieSingle
        .single
            .view
                .info
                    .topInfo
                        //- if movie.img
                        img(src=movie.movie_image, alt="Movie Poster")
                        h1 #{movie.movie_title}
                        button(onclick="handleOpenUpdateBtn(true)") Update
                    .details
                        .item
                            span.itemTitle Director:
                            span.itemValue #{movie.director} 
                        .item
                            span.itemTitle Genre:
                            span.itemValue #{movie.genre} 
                        .item
                            span.itemTitle Language:
                            span.itemValue #{movie.movie_language} 
                        .item
                            span.itemTitle Duration:
                            span.itemValue #{movie.movie_duration} 
                        .item
                            span.itemTitle Release Date:
                            span.itemValue #{movie.release_date} 
                        .item
                            span.itemTitle Age Limit:
                            span.itemValue #{movie.age_limit}     
                hr
                .chart
                    canvas#detailMovie(width="99%")
            .activities
                h2 Latest Activities
                    ul 
                        li 
                            div 
                                p John Doe purchased tickets for Movie Title
                                time 3 days ago
                        li 
                            div 
                                p John Doe purchased tickets for Movie Title
                                time 3 days ago
                        li 
                            div 
                                p John Doe purchased tickets for Movie Title
                                time 3 days ago
                        li 
                            div 
                                p John Doe purchased tickets for Movie Title
                                time 3 days ago
    +Update(productColumns, movie, slug)


    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    script.
        let openUpdateButton = false;

        let slug = !{JSON.stringify(slug)};
        let movie = !{JSON.stringify(movie)};
        //- console.log(movie);
        const handleOpenUpdateBtn = (value) => {
                openAddButton = value;
                if (value) {
                    document.querySelector('.update').style.display = 'flex';
                } else {
                    document.querySelector('.update').style.display = 'none';
                }
            };
        //- console.log(singleMovie);
        //- const detailMovie = document.getElementById('detailMovie');


        //- new Chart(detailMovie, {
        //-     type: 'line',
        //-     data: {
        //-         labels: movie.chartData.map(data => data.name),
        //-         datasets: [{
        //-             label: movie.dataKey,
        //-             data: movie.chartData.map(data => data.value),
        //-             pointRadius: 0,
        //-             pointHoverRadius: 0,
        //-             fill: true, 
        //-             borderColor: movie.color,
        //-             borderWidth: 3,
        //-             tension: 0.4, 
        //-         }]
        //-     },
        //-     options: {
        //-         responsive: true,
        //-         plugins: {
        //-             legend: {
        //-                 display: false
        //-             },
        //-             tooltip: {
        //-                 enabled: true,
        //-                 intersect: false,
        //-                 mode: 'index',
        //-             },
        //-         }
        //-     }
        //- });
