doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css')
        link(rel="stylesheet", href="/css/login.css")
        title Login Page
    body    
        #container.container
            .form-container.sign-in
                form(
                    action="/user/password/forgot"
                    method="POST"
                )
                    h1 Quên mật khẩu
                    .social-icons
                        a.icon(href='#')
                            i.fa-brands.fa-google-plus-g
                        a.icon(href='#')
                            i.fa-brands.fa-facebook-f
                        a.icon(href='#')
                            i.fa-brands.fa-github
                        a.icon(href='#')
                            i.fa-brands.fa-linkedin-in
                    span sử dụng email của bạn để xác nhận
                    input(
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        required
                        placeholder="Nhập Email"
                    )
                    button(
                        type="submit"
                    )  Gửi email xác nhận
            .toggle-container
                .toggle
                    .toggle-panel.toggle-left
                        h1 Xin chào,
                        p Bạn đã có tài khoản??
                            button#login.hidden(type="submit") Đăng nhập
                    .toggle-panel.toggle-right
                        h1 Xin chào,
                        p Bạn chưa có tài khoản?
                        button#register.hidden(type="submit")
                            a(href="/user/register" style="color:#fff") Đăng ký