include ../../mixin/alert.pug
doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(link rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/login.css")
        title Login Page
    body
        +alert-error(5000)
        +alert-success(5000)    
        #container.container
            .form-container.sign-in
                form(
                    action="/user/login"
                    method="POST"
                )
                    h1 Đăng nhập
                    .social-icons
                        a.icon(href='#')
                            i.fa-brands.fa-google-plus-g
                        a.icon(href='#')
                            i.fa-brands.fa-facebook-f
                        a.icon(href='#')
                            i.fa-brands.fa-github
                        a.icon(href='#')
                            i.fa-brands.fa-linkedin-in
                    span hoặc sử dụng email của bạn để đăng nhập
                    input(
                        type="text"
                        id="userName"
                        name="userName"
                        required
                        placeholder="Tên đăng nhập"
                    )
                    div(style="width: 100%;display:flex;align-items: center;position: relative;"
                    )
                        input(
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Mật khẩu"
                            required
                        )
                        i.fa-solid.fa-eye-slash(style="position: absolute;right: 10px;cursor: pointer;")
                    a(href="/user/password/forgot") Quên mật khẩu?
                    button(
                        type="submit"
                    ) Đăng nhập
                
            .toggle-container
                .toggle
                    .toggle-panel.toggle-left
                        h1 Xin chào,
                        p Bạn đã có tài khoản??
                            button#login.hidden(type="submit") Đăng nhập
                    .toggle-panel.toggle-right
                        h1 Xin chào,
                        p Bạn chưa có tài khoản?
                        button#register.hidden(type="submit")
                            a(href="/user/register" style="color:#fff") Đăng ký
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js")
    script(src="/js/script.js")    