extends ../../layouts/default.pug
block main
    if(movie.movie_id==2)
        iframe(width="560", height="315", src="https://www.youtube.com/embed/fRkOWmfZjkY?si=USFpl0Co2nbrIL5Z", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
    if(movie.movie_id==3)
        iframe(width="560", height="315", src="https://www.youtube.com/embed/_inKs4eeHiI?si=q6U9FqJ7s_z9kItx", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
    if(movie.movie_id==11)
        iframe(width="560", height="315", src="https://www.youtube.com/embed/UYqWGHxlLbE?si=G4Mb1LOqFwbGafb5", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
    if(movie.movie_id==13)
        iframe(width="560", height="315", src="https://www.youtube.com/embed/B2Jlyq_Tf3Y?si=zsQAEqUrJUPyy_1J", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
    div(class="moviedetails")
        div(class="container")
            div(class="row")
                if(movie.movie_image)
                    div(class="col-xl-5 col-lg-5 image")
                        img(src=`/uploads/movies/${movie.movie_image}`, class="inner-image")
                div(class="col-xl-7 col-lg-7 info")
                    table.content-table
                        thead
                            tr(style="text-align: center;") 
                                th(colspan="2") Movie Details
                        tbody
                            tr
                                td Phim
                                if(movie. movie_title)
                                    td #{movie.movie_title}
                            tr
                                td Ngày phát hành
                                if(movie. release_date)
                                    td #{movie. release_date}
                            tr
                                td Đạo diễn
                                if(movie.director)
                                    td #{movie.director}
                            tr
                                td Thể loại
                                if(movie.genre)
                                    td #{movie.genre}
                            tr
                                td Ngôn ngữ
                                if(movie.movie_language)
                                    td #{movie.movie_language}
                            tr
                                td Trailer
                                td
                                    a(data-toggle="modal", data-target="#tailer_modal9") View Trailer
        div(class="description")
            h3(style="margin-bottom: 20px;font-size: 22px;color: #231f20;") Description
            if(movie.movie_desc)
                p(style="font-size: 14px;color: #666;line-height: 22px;")
                    | #{movie.movie_desc}
      
    .sheduling
        .title
            span Lịch chiếu phim
    .row
        .col-12.calendar-1
            if(showDates)
                each item in showDates
                    if(show_date =="2024/"+ item.date)
                        button(class="day day-active" 
                                button-showdate="2024/"+ item.date
                                movie_id=movie.movie_id
                            )
                            span(style="width:100%;display:inline-block") #{item.rank}
                            span #{item.date}
                    else
                        button(class="day" 
                                button-showdate="2024/"+ item.date
                                movie_id=movie.movie_id
                            )
                            span(style="width:100%;display:inline-block") #{item.rank}
                            span #{item.date}
            .form-group(style="margin-left: 20px;")
                select(name="type" class="form-control" id="cinema")
                    if(cinema_name === "")
                        option(value="") Toàn quốc
                        option(value="Apolo Hà Nội") Hà Nội
                        option(value="Apolo Nha Trang") Nha Trang
                    else if(cinema_name === "Apolo Hà Nội")
                        option(value="Apolo Hà Nội" selected) Hà Nội
                        option(value="") Toàn quốc
                        option(value="Apolo Nha Trang") Nha Trang
                    else if(cinema_name === "Apolo Nha Trang")
                        option(value="Apolo Nha Trang" selected) Nha Trang
                        option(value="") Toàn quốc
                        option(value="Apolo Hà Nội") Hà Nội
            .form-group(style="margin-left: 20px;")
                select(name="type" class="form-control" id="theater")
                    if(theater_name === "")
                        option(value="") Tất cả các rạp
                        option(value="Theater 1") Rạp 1
                        option(value="Theater 2") Rạp 2
                        option(value="Theater 3") Rạp 3
                    else if(theater_name === "Theater 1")
                        option(value="Theater 1" selected) Rạp 1
                        option(value="Theater 2") Rạp 2
                        option(value="Theater 3") Rạp 3
                        option(value="") Tất cả các rạp
                    else if(theater_name === "Theater 2")
                        option(value="Theater 2" selected) Rạp 2
                        option(value="Theater 1") Rạp 1
                        option(value="Theater 3") Rạp 3
                        option(value="") Tất cả các rạp
                    else if(theater_name === "Theater 3")
                        option(value="Theater 3" selected) Rạp 3
                        option(value="Theater 1") Rạp 1
                        option(value="Theater 2") Rạp 2
                        option(value="") Tất cả các rạp
        div(class="line" style="width: 100%;height: 1px;background-color: #e0e0e0")
        .showtime_list
            if(showtimes)
                each item in showtimes
                    .showtime-cinema
                        h1(class="cinema-name") #{item.cinema_name}
                        .theater_time
                            span(class="theater") #{item.theater_name}
                            .time
                                a(href=`/booking/showtime/theater/${item.showtime_id}/${item.theater_id}`) #{item.show_time}
        .movie_feedback(style="padding-left:175px;")
            h1(style="line-height: 40px;color: #000;font-size: 20px;font-weight: 600;margin:0;margin-bottom:15px") Đánh giá phim
            form(action=`/movies/${movie.movie_id}` class="form-group d-flex flex-nowrap align-items:center Evaluate_movie" method="POST" style="margin:0;")
                div(class="rating")
                    div 
                        span Rating
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    input(type="text", name="rating", id="rating",style="border:none;outline:none;text-align:center;")
                div(class="input-feedback" style="width:60%")
                    input(type="text", name="input_feedback", id="input_feedback",placeholder="Vui lòng nhập đánh giá phim")
                button(type="submit") Bình luận
            div(class="horizone")
            if(feedbacks)
                each item in feedbacks
                    .customer_feedback
                        .inner_title
                            span( class="one" style="margin-right:5px;") Khách
                            -for(let i=0;i<item.rating;i++)
                                i.fa-solid.fa-star
                            span(style="isplay: inline-block;margin-left: 12px;line-height: 18px;vertical-align: top;color: #231f20;font-weight: bold;") #{item.rating}
                        .comment
                            p #{item.comment}
                        .date
                            span #{item.feedback_date}