extends ../../layouts/default.pug
block main
   div(class="moviedetails")
    div(class="container")
        div(class="row")
            if(movie.images)
                div(class="col-xl-5 col-lg-5 image")
                    img(src=`/${movie.images}`,class="inner-image")
            div(class="col-xl-7 col-lg-7 info")
                table.content-table
                    thead
                        tr(style="text-align: center;") 
                            th(colspan="2") Movie Details
                    tbody
                        tr
                            td Phim
                            if(movie. movie_title)
                                td #{movie.movie_title}
                        tr
                            td Ngày phát hành
                            if(movie. release_date)
                                td #{movie. release_date}
                        tr
                            td Đạo diễn
                            if(movie.director)
                                td #{movie.director}
                        tr
                            td Thể loại
                            if(movie.genre)
                                td #{movie.genre}
                        tr
                            td Ngôn ngữ
                            if(movie.movie_language)
                                td #{movie.movie_language}
                        tr
                            td Trailer
                            td
                                a(data-toggle="modal", data-target="#tailer_modal9") View Trailer
                div(class="time-book-ticket")
                    h4 Show Book Ticket:
                    br
                    a(href="#") 21:00
    div(class="container")
        div(class="row")
            div(class="col-xl-12 col-lg-12")
                div(class="description")
                    h4 Description
                    if(movie.movie_desc)
                        p
                            | #{movie.movie_desc}

          
