mixin Add(columns, slug)
  .add
    .modal
      span.close(onclick="handleOpen(false)") X
      h1= slug === 'users' ? 'Add New User' : slug === 'movies' ? 'Add New Movies' : 'Add New Item'
      form(action=`/admin/${slug}/add`, method='POST', enctype='multipart/form-data')
        each column in columns.filter(item => item.field !== 'movie_id' && item.field !== 'user_id' && item.field !== 'action' && item.field !== 'createdAt' && !item.checkboxSelection)
          .item
            label= column.headerName
            case column.field
              when 'movie_image'
                input(type="file", name=column.field, placeholder=column.headerName, required)
              when 'release_date'
                input(type="date", name=column.field, placeholder=column.headerName, required)
              when 'movie_duration'
                input(type="time", name=column.field, placeholder=column.headerName, step="1", required)
              when 'avatar'
                input(type="file", name=column.field, placeholder=column.headerName, required)
              when 'date_of_birth'
                input(type="date", name=column.field, placeholder=column.headerName, required)
              when 'gender'
                select(name=column.field, required)
                  option(value='Male') Male
                  option(value='Female') Female
                  option(value='Other') Other
              default
                input(type=column.type, placeholder=column.field, name=column.field, required)
        button(type="submit") Send

