mixin ChartBox(props)
  .chartBox
    .boxInfo
      .title
        img(src=props.icon, alt="")
        span= props.title
      h1= props.number
      a(href='/admin', style={ color: props.color }) View all
    .chartInfo
      .chart
        canvas(id=props.dataKey width="99%" height="100%")
      .texts
        span.percentage(style={ color: props.percentage < 0 ? "tomato" : "limegreen" })= props.percentage + '%'
        span.duration this week

    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    script.
        const ctx_#{props.dataKey} = document.getElementById('#{props.dataKey}');
        let props_#{props.dataKey} = !{JSON.stringify(props)};

        new Chart(ctx_#{props.dataKey}, {
            type: 'line',
            data: {
            labels: props_#{props.dataKey}.chartData.map(data => data.name),
            datasets: [{
                data: props_#{props.dataKey}.chartData.map(data => data.value),
                borderWidth: 1,
                pointRadius: 0,
                pointHoverRadius: 0,
                borderColor: props_#{props.dataKey}.color, 
                borderWidth: 2, 
                tension: 0.4, 
            }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                      beginAtZero: true,
                        display: false
                    },
                    x: {
                        display: false
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true,
                        intersect: false,
                        mode: 'index',
                    },
                }
            }
        });